<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/blog/css/bootstrap.css') }}">
    <script src="{{ asset('bundles/blog/js/bootstrap.min.js') }}"></script>
</head>
<body>

<ul class="nav nav-tabs">
    <li><a href="{{ path('post') }}">Posts</a></a> </li>
    <li><a href="{{ path('post_new') }}">New Post</a></a> </li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a>Hello {{ app.user.username }}</a>
        </li>
        <li><a href="/logout">Logout</a></li>
    {% endif %}
</ul>
{% for flashMessage in app.session.flashbag.get('msg') %}
    <div class="alert alert-info">{{ flashMessage }}</div>
{% endfor %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
